@{
    ViewData["Title"] = "Solicitudes";
}

<div class="container mt-4">
    <!-- Título principal -->
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-primary">Formulario de Solicitudes</h2>
            <p class="text-muted">
                Por favor, completa el siguiente formulario para generar un ticket de soporte para el área de Tecnología e Información (TI).
                Este formulario nos ayudará a gestionar y dar seguimiento a tu solicitud de manera eficiente..
            </p>
        </div>
    </div>

    <!-- Card con el formulario incrustado -->
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>Formulario de Solicitudes</h5>
                </div>
                <div class="card-body">
                    <iframe src="https://forms.office.com/r/5XbvPgMtYu"
                            width="100%"
                            height="600"
                            frameborder="0">
                    </iframe>
                </div>
                <div class="card-footer text-center">
                    <p class="text-muted">Los datos proporcionados serán utilizados únicamente para fines internos.</p>
                </div>
            </div>
        </div>
    </div>
</div>
