@{
    ViewData["Title"] = "IST Internacional Documentos";
}

<br />
<br />

<div class="text-center">
    <h2 class="display-4"><b>IST INTERNACIONAL SAS</b></h2>
    <div class="row">
        <!-- Imagen centrada y responsiva -->
        <div class="img-tecnologia">
            <img src="~/Assent/ist/digitalizacion-de-documentos-1.png" alt="Imagen de lado a lado" class="img-tecnologia">
            <p>
                Síguenos en nuestra página web
                <br />
                <a href="https://www.ist-internacional.com/" target="_blank" style="font-weight: bold; text-decoration: underline;">IST INTERNACIONAL SAS</a>
            </p>
        </div>
    </div>
</div>

<div class="col-12 mt-3 text-justify" style="font-size: 20px; line-height: 1.8; margin-top: 20px;">
    <p>
        "Bienvenidos al portal de documentos oficiales de IST Internacional SAS. Este espacio ha sido diseñado para proporcionar acceso fácil y seguro a información clave sobre nuestra compañía, así como a documentos esenciales que respaldan la operación y gestión del área de Tecnología e Información (TI). Aquí encontrarás recursos técnicos, procedimientos, políticas y herramientas que reflejan nuestro compromiso con la innovación, la eficiencia y la seguridad en el ámbito industrial. Nuestro objetivo es garantizar que nuestros clientes, socios y colaboradores tengan a su alcance la información necesaria para tomar decisiones informadas y promover el crecimiento sostenible de nuestra organización."
    </p>
</div>

@* <div>
    <div class="text" style="font-size: 20px; line-height: 1.8">
        <h1 class="text-center"><b>Documentos IT</b></h1>
        <p class="text-muted text-center">
            Aquí encontrarás todos los documentos relevantes relacionados con el área de Tecnología e Información (TI).
        </p>

        <!-- Lista de documentos -->
        <div class="container mt-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="~/documentos/documento/i-004 control de ingreso y salida biometrico.pdf" target="_blank">I-004 Control de Ingreso y Salida Biometrico></a>
                </li>
                <li class="list-group-item">
                    <a href="~/documentos/documento/I-005_1 Instalación Software FortiClient VPN.pdf" target="_blank">I-005 Instalación Software FortiClient VPN</a>
                </li>
                <li class="list-group-item">
                    <a href="~/documentos/documento/I-027_2 Copia de Seguridad.pdf" target="_blank">I-027 Copia de Seguridad</a>
                </li>
                <li class="list-group-item">
                    <a href="~/documentos/documento/I-020_22 Información General de la compañia.pdf" target="_blank">I-020 Información General de la Compañía</a>
                </li>
              @*   <li class="list-group-item">
                    <a href="~ /documentos/documento/i-026_4 mantenimiento preventivo y correctivo sw.pdf" target="_blank">I-026 Mantenimiento Preventivo y Correctivo SW</a> *@
              @*   </li>
                <li class="list-group-item">
                    <a href="~/documentos/documento/I-028_1 Alistamiento de HW-SW.pdf" target="_blank">I-028 Alistamiento de HW-SW</a>
                </li>
                <li class="list-group-item">
                    <a href="~/documentos/documento/I-033_1 Seguridad de la Información.pdf" target="_blank">I-033 Seguridad de la Información</a>
                </li>
            </ul>
        </div>
    </div>
</div> *@ 


<div class="text">
    <div class="container mt-4">
        <!-- Título Principal -->
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary"><b>Inducción del Proceso IT</b></h2>
                <p class="text-muted">
                    Visualiza la presentación del área de Tecnología e Información (TI) o descárgala para más detalles.
                </p>
            </div>
        </div>

        <!-- Card para la presentación -->
        <div class="row mt-4">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5>Presentación: Inducción IT</h5>
                    </div>
                    <div class="card-body">
                        <!-- Iframe para el video -->
                        <iframe src="https://www.youtube.com/embed/_VVDWTr5q8w"
                                width="100%"
                                height="600"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://www.youtube.com/watch?v=_VVDWTr5q8w" class="btn btn-primary" target="_blank">
                            Ver en YouTube
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


