@model PaginaIst.Models.Mantenimiento

@{
    ViewData["Title"] = "Crear Página";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo mantenimiento</h3>
<form method="POST" asp-action="Create">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Fecha"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Fecha" class="form-control" placeholder="Ingresa la Fecha" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            <div/>

                <br />

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Placa"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Placa" class="form-control" placeholder="Ingresa la Placa" />
                        <span asp-validation-for="Placa" class="text-danger"></span>
                    </div>
                </div>

                <br />

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Tipo_mantto"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Tipo_mantto" class="form-control">
                            <option value="1">Mantenimiento Hardware</option>
                            <option value="2">Mantenimiento Software</option>
                        </select>
                        <span asp-validation-for="Tipo_mantto" class="text-danger"></span>
                    </div>
                </div>

                <br />

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Comentario"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Comentario" class="form-control" placeholder="Ingrese el Comentario" />
                        <span asp-validation-for="Comentario" class="text-danger"></span>
                    </div>
                </div>

                <br />

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Ruta_evidencias"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Ruta_evidencias" class="form-control" placeholder="Ingresa la Descripción" />
                        <span asp-validation-for="Ruta_evidencias" class="text-danger"></span>
                    </div>
                </div>

                <br />
                <br />

                <div class="form-group-row">
                    <div class="col-8">
                        <partial name="_VistaCrearVolverpagina" />
                    </div>
                </div>
            </div>

        </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

