@{
    ViewData["Title"] = "IST";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Intranet de IST" />
    <meta name="author" content="IST Internacional" />
    <title>Intranet IST</title>
</head>

<br />
<br />

<div class="text-center">
    <h1 class="display-4"><b style="color: #810C1C;">IST INTERNACIONAL SAS</b></h1>
    <div class="row">
        <!-- Imagen centrada y responsiva -->
        <div class="img-tecnologia">
            <img src="~/Assent/ist/ist.png" alt="Imagen de lado a lado" class="img-tecnologia">
            <p>
                Síguenos en nuestra página web
                <br />
                <a href="https://www.ist-internacional.com/" target="_blank" style="color: #810C1C;">IST INTERNACIONAL SAS</a>
        </div>
    </div>
</div>

<!-- Contenedor para los párrafos -->
<div class="col-12 mt-3 text-justify" style="font-size: 20px; line-height: 1.8; margin-top: 20px;">
    <p>
        Es una Compañía Colombiana que desarrolla su misión en el mercado Industrial de América Latina. Nuestras oficinas principales están localizadas en Bogotá, Colombia y estamos en una continua expansión a través de subsidiarias en los Estados Unidos de América y Perú.
    </p>
</div>

<div>
    <div class="text" style="font-size: 20px; line-height: 1.8">
        <h1 class="text-center"><b style="color: #810C1C;">MISIÓN</b></h1>
        <p>
            Optimizar los procesos industriales para generar valor a nuestros clientes con mezclas innovadoras de:
        </p>
        <ul>
            <li>Talento de nuestros profesionales.</li>
            <li>Selección de tecnologías.</li>
            <li>Sinergia con la experiencia y metodologías de nuestros asociados y representados.</li>
            <li>Soluciones de gestión reconocidas internacionalmente.</li>
        </ul>
    </div>
</div>

<div>
    <div class="text" style="font-size: 20px; line-height: 1.8">
        <h1 class="text-center"><b style="color: #810C1C;">VISIÓN</b></h1>
        <p>
            Ser la compañía líder en la Optimización de Procesos Industriales en Latinoamérica, en la cual, clientes, empleados, asociados, representados y accionistas obtengan las soluciones integradas e innovadoras que requieren, en un ambiente óptimo de trabajo, para un crecimiento sostenible, con responsabilidad social, que aseguren la generación de valor para todos los interesados
        </p>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-primary text-center"><b style="color: #810C1C;">Políticas</b></h2>
    <p class="text-muted text-center">Descubre nuestras políticas corporativas. Haz clic en cada sección para desplegar más información.</p>

    <!-- Accordion -->
    <div class="accordion" id="accordionPolicies">

        <!-- Política Sistema Integral de Gestión -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#policyOne" aria-expanded="true" aria-controls="policyOne">
                    <b style="color: #810C1C;">Política Sistema Integral de Gestión</b>
                </button>
            </h2>
            <div id="policyOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionPolicies">
                <div class="accordion-body">
                    <p>
                        Somos una organización dedicada a optimizar procesos industriales, mediante la ejecución de proyectos de implementación de las aplicaciones requeridas por nuestros clientes, al igual que servicios de sostenimiento a los sistemas instalados y otros servicios técnicos especializados complementarios.

                        Operamos en forma directa o con asociados o representados, cumpliendo las normativas nacionales e internacionales, y otros compromisos que suscriba la organización, en busca de mantener altos estándares y mejorar continuamente nuestros procesos, con el respaldo económico necesario para cumplir con nuestros objetivos. Promoviendo dentro de la organización un pensamiento sistémico que tenga en cuenta los siguientes componentes:
                        <br />
                        <br />

                        <h4>Calidad</h4>

                        Trabajar en torno a procesos que aseguren que nuestros productos satisfacen los requerimientos acordados con nuestros clientes.
                        <br />
                        <br />

                        <h4>Seguridad y Salud en el Trabajo y Responsabilidad Social</h4>

                        Promover la calidad de vida laboral con el compromiso de proporcionar condiciones de trabajo seguras y saludables, evaluar factores de riesgo a los que puedan estar expuestos nuestros trabajadores para la prevención de lesiones y del deterioro de la salud, reduciendo la probabilidad de accidentes de trabajo, de enfermedades laborales y de ocasionar daños a la propiedad e instalaciones propias o de los clientes; comprometidos con la consulta y la participación de los trabajadores y de sus representantes. Igualmente fomentaremos la responsabilidad social con los diferentes grupos de interés..
                        <br />
                        <br />

                        <h4>Preservación del Ambiente</h4>

                        Ser conscientes que somos uno con el entorno y por ende debemos evaluar y controlar las actividades que puedan tener impactos socio-ambientales. Es nuestra responsabilidad prevenir la contaminación..
                    </p>
                </div>
            </div>
        </div>

        <!-- Política de No Consumo de Sustancias Psicoactivas -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#policyTwo" aria-expanded="false" aria-controls="policyTwo">
                    <b style="color: #810C1C;">Política de No Consumo de Sustancias Psicoactivas, Alcohol y Tabaco</b>
                </button>
            </h2>
            <div id="policyTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionPolicies">
                <div class="accordion-body">
                    <p>
                        <b>IST INTERNACIONAL</b> es consciente de que el consumo de alcohol y drogas, al igual que de tabaco en cualquiera de sus formas (cigarrillo, tabaco, pipa, etc.) afecta, no sólo el desempeño de las personas y su entorno, sino también puede convertirse en potencial generador de implicaciones graves en materia de seguridad y salud, por esto, es requisito para el trabajo en la empresa:
                        <ul>
                            <li>
                                No permitir el consumo, distribución y/o venta de cigarrillo, alcohol y/o sustancias psicoactivas en cualquiera de las áreas de la empresa, del cliente o en cualquier lugar donde se desarrollen negocios de la compañía, inclusive, crear la conciencia de no uso fuera de los mismos.
                            </li>
                            <li>
                                No permitir que las partes interesadas (trabajadores, proveedores, contratistas, clientes) laboren en estado de embriaguez y/o bajo efecto de sustancias psicoactivas.
                            </li>
                            <li>
                                Divulgar la política y concientizar a los trabajadores, contratistas, proveedores y/o clientes sobre el daño que causa el consumo de cigarrillo, alcohol y/o sustancias psicoactivas, en la salud de todos, tanto consumidores activos como pasivos.
                            </li>
                            <li>
                                La Dirección de la empresa podrá definir ocasiones excepcionales para el consumo moderado de alcohol.
                            </li>
                        </ul>

                        <h3>EXCEPCIONES POLITICA CONSUMO RESPONSABLE</h3>

                        Para el consumo de alcohol fuera y/o en las instalaciones en actividades realizadas por Integrador de Soluciones Tecnológicas SAS, se hacen las siguientes excepciones:
                        <br />
                        <br />

                        <b>1.</b>La única fecha exclusiva para aplicar esta excepción será cuando se celebre el día de pascua1 dentro de la organización.
                        CONTROL:
                        <br />
                        <br />

                        <ul>
                            <li>
                                Las personas que tengan como transporte su propio automóvil sin conductor elegido, inmediatamente tienen prohibido el consumo de alcohol para esta fecha; al igual que las personas que tengan una enfermedad generada por el consumo de alcohol.
                            </li>
                            <li>
                                El consumo de alcohol para empleados menores de edad queda totalmente prohibido. Dando lugar al cumplimiento de la ley colombiana
                            </li>
                            <li>
                                Debe ser respetada la eventual decisión de las personas que no desean consumir ninguna bebida que contenga alcohol.
                            </li>
                        </ul>

                        <b>2.</b> En caso de eventuales invitaciones a clientes a discreción de los funcionarios autorizados3 podrá consumirse moderadamente bebidas que contengan alcohol.
                        De esta manera se garantiza la salud y seguridad de los empleados bajo un consumo responsable.
                        “Porque consumir responsablemente y con un grupo de confianza no es nocivo para la salud.”
                    </p>
                </div>
            </div>
        </div>

        <!-- Política de Prevención del Acoso Laboral -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#policyThree" aria-expanded="false" aria-controls="policyThree">
                    <b style="color: #810C1C;">Política de Prevención del Acoso Laboral</b>
                </button>
            </h2>
            <div id="policyThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionPolicies">
                <div class="accordion-body">
                    <p>
                        Conscientes de la importancia de establecer mecanismos de prevención de las conductas de acoso laboral, en Integrador de Soluciones Tecnológicas S.A.S. – IST Internacional, se ha creado el Comité de Convivencia Laboral, el cual en conjunto con todos los trabajadores de la empresa, establecerá actividades tendientes a generar una conciencia colectiva de sana convivencia que promueva el trabajo en condiciones dignas y justas, la armonía entre quienes comparten vida laboral empresarial y el buen ambiente en la empresa y proteja la intimidad, la honra, la salud mental y la libertad de las personas en el trabajo.
                        <br />
                        <br />

                        IST Internacional se compromete a prevenir y erradicar las conductas del acoso laboral y a defender el derecho de todos los trabajadores para ser tratados con dignidad en el trabajo y para ello realizará actividades y tomará acciones como:
                        <br />
                        <ul>
                            <li>
                                Elaboración y divulgación del Manual de Convivencia Laboral.
                            </li>
                            <li>
                                Sensibilización y capacitación sobre acoso laboral para el personal.
                            </li>
                            <li>
                                Capacitación en temas que fortalezcan la relación interpersonal, tales como, el manejo de conflictos y comunicación empresarial.
                            </li>
                            <li>
                                Aplicar el procedimiento contemplado en el capítulo XV artículo 54 del reglamento interno de trabajo, el cual define los mecanismos de prevención y/o solución de las conductas calificadas como de acoso laboral.
                            </li>
                            <li>
                                Implantar y vigilar el cumplimiento de las normas dirigidas a prevenir cualquier conducta o comportamiento que implique la calificación de acoso laboral, a salvaguardar la información que sea recolectada, a la vez que a dar trámite oportuno a las quejas que pueden aparecer en torno al acoso laboral a través del COMITÉ DE CONVIVENCIA LABORAL, según resoluciones No. 652 y 1356 de 2012.
                            </li>
                        </ul>

                        Cualquier persona que tenga una posible conducta de acoso laboral será sujeta a investigación de acuerdo con lo establecido en la normatividad vigente, procedimientos y manual de convivencia.
                        <br />
                        Esta Política será publicada, divulgada y actualizada cada vez que la organización lo considere pertinente
                    </p>
                </div>
            </div>
        </div>

        <!-- Política de Seguridad Vial -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#policyFour" aria-expanded="false" aria-controls="policyFour">
                    <b style="color: #810C1C;">Política de Seguridad Vial</b>
                </button>
            </h2>
            <div id="policyFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionPolicies">
                <div class="accordion-body">
                    <p>
                        Es compromiso de IST Internacional establecer actividades de promoción y prevención de accidentes en vía pública. Para ello, todos los colaboradores son responsables de participar en las actividades que se programen y desarrollen por parte de la empresa, con el fin de disminuir la probabilidad de ocurrencia de accidentes que puedan afectar la integridad física, mental y social del personal, contratistas, comunidad y/o medio ambiente.
                    </p>
                    <br />
                    Para cumplir este propósito, IST enmarca la política de seguridad vial bajo los siguientes parámetros:
                    <br />
                    <br />
                    <ol>
                        <li> Respetar las normas de tránsito nacionales establecidas en el Código Nacional de Tránsito terrestre, enmarcando los principios de seguridad, calidad, preservación de un ambiente sano y la protección del espacio público para todos los actores viales.</li>
                        <li> Es obligatorio el uso de cinturones de seguridad tanto para el conductor como para los pasajeros.</li>
                        <li> Está prohibido transportar personal externo en los vehículos alquilados, sin contar con la autorización previa del superior autorizado.</li>
                        <li>Está totalmente prohibido el uso y manipulación de teléfono celular, o dispositivos de manos libres, equipos de video, audífonos u otros que puedan distraer al conductor mientras el vehículo esté en marcha.</li>
                        <li>No se permite el uso de su vehículo personal para realizar desplazamientos laborales, para garantizar su medio de transporte en estos desplazamientos la empresa mantiene activos los convenios con empresas de transporte especializado.</li>
                    </ol>

                    La gerencia destinará los recursos financieros, humanos y técnicos necesarios para dar cumplimiento a esta política, garantizando el mejoramiento continuo

                </div>
            </div>
        </div>

        <!-- Política General de Tecnología de la Información -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#policyFive" aria-expanded="false" aria-controls="policyFive">
                    <b style="color: #810C1C;">Política General de Tecnología de la Información</b>
                </button>
            </h2>
            <div id="policyFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionPolicies">
                <div class="accordion-body">
                    <p>
                        Los equipos de cómputo de Integrador de Soluciones Tecnológicas S.A.S., son de uso exclusivo para actividades relacionadas con las funciones que desempeñan los trabajadores de cada proceso dentro de la Organización.
                    </p>
                    <ol>
                        <li>Cada usuario es responsable del buen uso y estado de los equipos y programas que le sean asignados.</li>
                        <li>La información almacenada en los equipos asignados debe ser respaldada por cada usuario cumpliendo los procedimientos establecidos.</li>
                        <li>Darles uso apropiado a las claves de acceso a las herramientas informáticas de la empresa (renovar las claves cuando sea solicitado, no divulgarlas, mantener aseguradas las claves)</li>
                        <li>Se debe usar exclusivamente software con licencias autorizadas; se autoriza la instalación y el uso de software de libre licenciamiento bajo la responsabilidad de cada usuario.</li>
                        <li>El mantenimiento básico preventivo de los equipos de cómputo la debe realizar cada usuario cumpliendo los procedimientos establecidos.</li>
                        <li>No es política de la compañía restringir el ingreso a páginas Web, sin embargo, cada usuario es responsable del buen uso y conveniencia del acceso a internet.</li>
                        <li>Toda práctica que vaya en contra de estas políticas, o acción que comprometa la seguridad de la información Organizacional no prevista en este documento, será causa de notificación a la Gerencia General, con el fin que se determine la acción a seguir.</li>
                    </ol></>
                </div>
            </div>
        </div>

        <!-- Política de Desconexión Laboral -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#policySix" aria-expanded="false" aria-controls="policySix">
                    <b style="color: #810C1C;">Política de Desconexión Laboral</b>
                </button>
            </h2>
            <div id="policySix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionPolicies">
                <div class="accordion-body">
                    <ol>
                        <li>
                            <b>ANTECEDENTES – CONCEPTO</b>
                            <br />
                            Los trabajadores de la compañía IST INTERNACIONAL tienen derecho a la desconexión laboral a fin de garantizar, fuera del horario de trabajo legal o convencionalmente establecido entre las partes, el respeto a su tiempo de descanso, licencias, permisos, vacaciones, así como de su intimidad personal o familiar.
                        </li>
                        <li>
                            <b>AMBITO DE APLICACIÓN</b>
                            <br />
                            Esta política será de aplicación para todo el personal de la compañía tanto administrativo, comercial y operativo, personal en misión, teletrabajadores, trabajadores que laboren en el centro de trabajo –presenciales-, trabajadores con modalidad de trabajo en casa, trabajadores con jornada completa, trabajadores con jornada parcial, trabajadores que laboren en el centro de trabajo.
                        </li>
                        <li>
                            <b>OBJETIVO Y CUMPLIMIENTO</b>
                            <br />
                            Las disposiciones contenidas en esta política se encuentran encaminadas a establecer medidas que garanticen que los trabajadores puedan disfrutar de forma efectiva de su tiempo de descanso, licencias, permisos, vacaciones, y que se preserve su intimidad personal y familiar.
                            <br />
                            Los presentes lineamientos son de aplicación obligatoria por parte de todo el personal que desempeñe funciones para la compañía o por fuera de ella, sin distinción del área en que laboren y las funciones que desempeñen.
                        </li>
                        <li>
                            <b>EXCEPCIÓN DE APLICACIÓN</b>
                            <br />
                            Se excluye la aplicación del derecho a la desconexión laboral en los siguientes casos:
                            <br />
                            <ul>
                                <li>Aquellos trabajadores con cargos de especial responsabilidad que desempeñen cargos de dirección, confianza y manejo.</li>
                                <li>En aquellas situaciones en que concurran circunstancias de fuerza mayor o caso fortuito o que supongan un grave, inminente o evidente perjuicio empresarial o del objeto social, cuya urgencia la cual es de carácter temporal requiera de una respuesta o actuación precisa y de manera inmediata por alguno de los trabajadores.</li>
                                <li>Los trabajadores que por la naturaleza de su actividad o funciones a cargo deban permanecer disponibles en virtud de lo regulado por la compañía en cuanto a esta condición.</li>
                                <li>
                                    Se reitera que no serán de aplicación las medidas que garantizan el derecho a la desconexión laboral en los casos en que concurran circunstancias de fuerza mayor o caso fortuito o que puedan generar un grave, inminente o evidente perjuicio empresarial o de los servicios prestados o productos elaborados, cuya urgencia requiera necesariamente de una respuesta inmediata. Por tal razón si se presenta la situación, la compañía contactará al trabajador preferiblemente por teléfono para comunicarle el hecho que se ha presentado de carácter urgente para efectos de proceder a la solución de este.
                                </li>
                            </ul>


                        <li>
                            <b>DERECHO A LA DESCONEXIÓN LABORAL</b>
                            <br />
                            En busca de encontrar un equilibrio frente a la realidad que ha representado la globalización, los dispositivos electrónicos, el Internet y entendiendo el derecho a la desconexión laboral como un derecho o reforzamiento del derecho a la vida privada de los trabajadores, y para efectos de conseguir un verdadero equilibrio de la vida laboral y personal, se reconoce por parte de la compañía IST INTERNACIONAL, el derecho a todos los trabajadores a no atender dispositivos digitales, y a no leer ni responder ninguna comunicación, ya sea mediante teléfono, correo electrónico, aplicaciones de mensajería instantánea (Teams, WhatsApp, SMS, Telegram, Hangouts, etc.) o cualquier otra herramienta bien sea tecnológica o no, que interrumpa su derecho al descanso, así como no atender temas laborales fuera del horario de trabajo o jornada laboral establecida o convenida, ni en sus vacaciones o descansos, salvo que concurran las circunstancias señaladas en el punto
                        </li>
                        <li>
                            <b>LINEAMIENTOS</b>

                            Se adoptarán las siguientes medidas en aras de implementar el derecho a la desconexión laboral de todos los trabajadores sin olvidar el uso eficiente de las herramientas informáticas:
                            <ol type="a">
                                <li>
                                    Se establece que se respetarán los tiempos de descanso diario, semanal, licencias, permisos o vacaciones de todos los trabajadores.De acuerdo con lo anterior, los trabajadores tienen derecho a no responder a cualquier tipo de comunicación por cualquier canal realizada fuera de su horario de trabajo o jornada laboral, salvo causa de fuerza mayor o circunstancias excepcionales.
                                    La convocatoria y asistencia a reuniones de trabajo sean de carácter presencial o virtual se hará dentro de los límites de la jornada trabajo y/o horario de trabajo, no pudiendo extenderse la duración de estas más allá de la finalización de la jornada de trabajo y/o horario de trabajo, respetando los tiempos de descanso, los fines de semana, los días festivos, licencias, permisos y los periodos de vacaciones del personal.
                                    Para que las reuniones sean eficientes se debe potenciar siempre el uso de las teleconferencias o videoconferencias con el fin de optimizar el tiempo y evitar desplazamientos. A su vez se prohíbe mantener conferencias o reuniones mientras alguno de los trabajadores está conduciendo.
                                </li>
                                <li>Se evitará, si las circunstancias lo permiten y en la medida de lo posible, el enviar comunicaciones laborales finalizada la jornada laboral, así como hacer llamadas telefónicas fuera del horario de trabajo establecido en la compañía, salvo las situaciones de fuerza mayor o caso fortuito o circunstancias excepcionales.</li>
                                <li>
                                    Cuando se envían correos electrónicos fuera del horario de trabajo o jornada laboral, se utilizará preferiblemente la configuración de envío diferido del correo, para hacer llegar los mensajes dentro el horario laboral del destinatario y se promoverá esta práctica dentro de la compañía.
                                    Como excepción si se llega a enviar una comunicación que pueda suponer respuesta fuera del horario establecido, el remitente asumirá expresamente que la respuesta podrá esperar a la jornada laboral siguiente.
                                </li>
                                <li>
                                    Para una mejor gestión del tiempo de trabajo, se procurará adoptar las siguientes medidas:
                                    <ul>
                                        <li>
                                            Evitar las reuniones, jornadas de formación, capacitaciones, videoconferencias, etc., fuera de la jornada laboral y/o horario laboral de cada trabajador.
                                        </li>
                                        <li>
                                            Convocar las reuniones, capacitaciones, jornadas de formación, etc., con la antelación suficiente y considerando la duración de estas para que los trabajadores puedan organizar su trabajo dentro de la jornada laboral y/o horario de trabajo.
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                        <li>
                            La compañía establece como obligación que los trabajadores dejen un mensaje automático de aviso de correo electrónico que indique que se encuentran “AUSENTES”, – aplica para ausencias superiores a un (1) día, las fechas entre la que se encuentran fuera de la oficina, así como los datos de contacto del trabajador con la que se pueden contactar durante dicho periodo de ausencia.
                        </li>
                        <li>
                            Los trabajadores que ocupen posiciones en los cuales tengan a cargo equipos de personal (áreas, departamentos, etc.) o superiores jerárquicos (mandos intermedios, puestos directivos, etc.) deben cumplir especialmente las políticas de desconexión laboral, al tener un cargo de referencia respecto a los equipos o personas que coordina.
                        </li>
                        <li>
                            La compañía IST INTERNACIONAL no podrá sancionar disciplinariamente a los trabajadores con ocasión del ejercicio por parte de estos de su derecho a la desconexión laboral en los términos establecidos en esta política. Los trabajadores no podrán ser sancionados ni recriminados por no haber estado conectados y pendientes de las obligaciones que les ocupan en la jornada laboral durante el periodo de vacaciones, permisos, licencias, fines de semana, que les corresponden por ley.

                        </li>

                        <li>
                            <b>USO DE LAS HERRAMIENTAS Y/O MEDIOS TECNOLÓGICOS</b>
                            <br />
                            Las herramientas y/o medios tecnológicos facilitados por la compañía como los sistemas, equipos informáticos, medios tecnológicos que han sido puestos a disposición de los trabajadores y para efectos de garantizar su uso adecuado, se establecen las siguientes directrices para efectos de su correcta utilización:
                            <br />
                            <ul>
                                <li>Los trabajadores se comprometen al uso adecuado de los medios tecnológicos e informativos puestos a disposición por la compañía evitando en la medida de lo posible su uso fuera de la jornada y horario de trabajo.</li>
                                <li>Los sistemas y equipos de información de la empresa son de uso exclusivo para cumplir con las funciones laborales.</li>
                                <li>Con relación al uso del correo electrónico corporativo, se reitera que no será posible acceder a los correos electrónicos de otros trabajadores sin que exista una previa autorización la cual debe constar por escrito.</li>
                                <li>Se encuentra prohibido el uso del correo electrónico para enviar e–mails de carácter ofensivo y/o vulgar, la cuenta de correo electrónico corporativo se debe utilizar solo para fines laborales.</li>
                            </ul>
                        </li>
                        <li>
                            <b>ACCIONES PARA GARANTIZAR EL DERECHO A LA DESCONEXIÓN LABORA</b>L
                            <br />
                            <ol>
                                <li><b>COMUNICACIÓN:</b>La compañía garantizará el conocimiento de la presente política a todo el personal.</li>
                                <li><b>SENSIBILIZACIÓN:</b>Se realizarán campañas de sensibilización de la política, creando cultura y para que todos los trabajares se impliquen en su ejecución y se responsabilicen del uso adecuado. Los trabajadores con equipos a cargo o cargos de dirección tendrán la especial función de garantizar la utilización de la política dentro de su ámbito de responsabilidad.</li>
                                <li><b>FORMACIÓN:</b>La compañía capacitará a todos los trabajadores sobre la adecuada utilización de las herramientas tecnológicas, permitiendo de esta manera que se adquieran las competencias necesarias para el manejo de las herramientas tecnológicas minimizando de esta manera los aspectos negativos y logrando un uso eficiente de las mismas.</li>
                            </ol>
                        </li>
                        <li>
                            <b>MEDIDAS EN CUANTO A LA VULNERACION DEL DERECHO A LA DESCONEXIÓN LABORAL</b>
                            <br />
                            <ul>
                                <li>La empresa se compromete a garantizar la aplicación de la presente política y consecuentemente a adoptar todas las medidas oportunas en caso de vulneración del ejercicio del derecho a la desconexión laboral.</li>
                                <li>Se crea el buzón- correo electrónico desconexionlaboral@localhost.co a cargo y gestionado por los procesos Recursos Humanos y HSEQ, como el canal de comunicación dispuesto por la compañía para efectos de la presentación de quejas.</li>
                                <li>Los procesos recursos humanos y HSEQ son los encargados del seguimiento y supervisión de lo dispuesto en la presente política y para efectos de garantizar un debido proceso, la solución del conflicto y la verificación del cumplimiento de los acuerdos a los cuales se lleguen por las partes involucradas.</li>
                            </ul>
                        </li>
                        <li>
                            <b>VIGENCIA</b>
                            <br />
                            Esta política empieza a regir a partir de su firma por parte del representante legal y su publicación, este documento será objeto de revisión por parte de la compañía para efectos de su adaptación a las novedades legales que surjan en esta materia.
                            <ul>
                                <li>Su renovación será anualmente y de modo tácito.</li>
                                <li>Se firma a los 24 días del mes de mayo de 2022 en la ciudad de Bogotá, D.C.></li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- Política de Teletrabajo -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#policySeven" aria-expanded="false" aria-controls="policySeven">
                    <b style="color: #810C1C;">Política de Teletrabajo</b>
                </button>
            </h2>
            <div id="policySeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionPolicies">
                <div class="accordion-body">
                    <p>
                        El teletrabajo es una forma de trabajo que se realiza a distancia, es decir, en una ubicación diferente de las instalaciones de la empresa, con la ayuda de las TIC —Tecnologías de la Información y la Comunicación— que facilitan al mismo tiempo la separación física y la comunicación. Se encuentra regulado por la ley, es de vinculación voluntaria, se deben cumplir los requisitos establecidos y es reversible.
                    </p>
                    <p>
                        El desarrollo de las TIC durante los últimos años ha sido fundamental para que el teletrabajo sea una opción viable para empresas y empleados.
                    </p>
                    <p>
                        IST Internacional implementó el teletrabajo con el objetivo de brindarle a sus colaboradores opciones para realizar sus actividades permitiéndoles desarrollarse al promover la inclusión social, permitir mayor flexibilidad horaria y reducir el estrés, aumentar la productividad, mejorar la calidad de vida y conciliar la vida laboral y personal de los trabajadores, contribuir con la movilidad y reducir índices de contaminación con menos desplazamientos en transporte, descongestionar las vías, impulsar el uso de TIC sin que se presente afectación negativamente al negocio.
                    </p>
                    <p>
                        La empresa tomará acciones para mitigar las posibles desventajas de esta modalidad, como podría ser la falta de comunicación o coordinación a través de planes acogidos para hacer más eficiente el teletrabajo, por ello los procesos de RH y HSEQ trabajan para disminuir el sedentarismo en los trabajadores y con ello los problemas físicos, como el dolor de espalda, disminuir el riesgo de no desconexión y de trabajar más horas de las habituales,  fortalecer el sentido de pertenencia que se puede generar por el aislamiento, controlar el rendimiento de los empleados a pesar de la distancia, y en disminuir los efectos para la sociedad como reducción de las relaciones interpersonales, las diferencias sociales al existir una brecha en el acceso a las TIC, porque sabemos que la adaptación al teletrabajo no es fácil y depende de cada persona. El propósito de IST con la adopción de esta política es obtener el máximo beneficio para los trabajadores y sus familias y para la sociedad.
                    </p>

                    <p>Las recomendaciones para los colaboradores son:</p>
                    <ul>
                        <li>Ser disciplinado y establecer una rutina con unos horarios y unos hábitos estrictos.</li>
                        <li>Crear un espacio ordenado, cómodo y sentirlo como propio para trabajar.</li>
                        <li>
                            Separar las obligaciones laborales del ocio.
                        </li>
                        <li>Evitar el sedentarismo haciendo pausas activas.</li>
                        <li>Hablar con las personas con quienes se convive para que respeten el espacio laboral.</li>
                        <li>Estar en contacto con los compañeros de trabajo para evitar el aislamiento, facilitar el trabajo en equipo y generar sinergias.</li>
                    </ul>
                    <p>   En resumen, la política de IST Internacional es facilitar el desarrollo de proyectos impulsando el uso de las TIC para la mejora de la calidad de vida de los colaboradores y aportar al mejoramiento de la movilidad.</p>
                </div>
            </div>
        </div>
    </div>
</div>
